#DEVELOPMENT
DB_DEV_HOST=<YOUR HOST NAME>
DB_DEV_PORT=<YOUR OPEN PORT>
DB_DEV_USER=<YOUR USER NAME>
DB_DEV_PASS=<YOUR PASSWORD>
DB_DEV=<YOUR DATABASE NAME>
DB_DEV_DIALECT=<YOUR DIALECT>

#ADMINSERVICE
DB_ADMINSER_USER=<YOUR USER NAME>
DB_ADMINSER_PASS=<YOUR PASSWORD>
DB_ADMINSER=<YOUR DATABASE NAME>
DB_ADMINSER_HOST=<YOUR HOST URI>
DB_ADMINSER_PORT=<YOUR PORT>
DB_ADMINSER_DIALECT=<YOUR DIALECT>

#FASPAY_LOGIN
FASPAY_USERID=<YOUR USERID>
FASPAY_PASSWORD=<YOUR PASSWORD>

#PREFIX
PREFIX_BCA=<BCA>
PREFIX_PERMATA=<PERMATA>

#KEY_TOKEN
PUBLIC_KEY=<YOUR PUBLIC KEY>
PRIVATE_KEY=<YOUR SECRET KEY>
URL=<YOUR URL API>